/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;    
}

html, body {
    margin:0px;
    padding:0px;
}

.img-centered {
    margin: 0 auto;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 0!important;
    padding-right: 0!important;

}
header {
    text-align: center;
    color: #fff;
    background: #F7F7F9;
}

header img {
    display: block;
    margin: 0 auto 10px;
}

.navbar-header {
    text-align: center;
}
.navbar-brand {
    padding: 1px 0;
    margin-left: -15px;
    padding-top: 10px;
}
.navbar-default .navbar-toggle{
    border-color: #2f71a1;
    background: #2f71a1;
}
.navbar {    
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.navbar .navbar-nav li a {
    color: #2f71a1;
    line-height: 18px;
    padding-top: 25px !important;
    padding-bottom: 25px!important;
}
.navbar .navbar-nav li a:hover {
    background-color: #2f71a1!important;
    color: #ffffff;   
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #2f71a1!important;
    color: #ffffff;
}
.navbar-default,
.navbar-inverse {
    border: 0;
    /*background-color:#ffffff;
    border-color:transparent;
    color: #5FBB96;*/
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    height: inherit;
}


/**/


.banner {
    background-image:url('../img/banner_1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 600px;
}
.banner .text_img {
    position: absolute;
    top: 46%;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.block{
    padding: 120px 20px 120px 20px;
    background: #2f71a1;
}

.text_img .lema{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}
.text_img .sublema{
    font-size: 17.5px;
    color: #fff;
    font-weight: 400;
}

/**  carousel **/


.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

.carousel-caption {
position: relative;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
padding-top: 0;
padding-bottom: 0;
color: #000;
text-align: center;
text-shadow: none;
/*text-shadow: 0 1px 2px rgba(0,0,0,.6);*/
}
.carousel-caption p{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
}
.carousel-indicators{
   margin-bottom: -10px;
}
.carousel-indicators li{
    border: 1px solid #f26936!important;

}
/*bloque firma*/
#firma{
    padding: 100px 50px 60px 50px;
}
#firma p{
    font-size: 1.1em;
    color: #444;
    font-weight: bold;
    text-align: justify;
}
.separator{
    width: 16%;
    border-top: 3px solid #f26936;

}
 .boton-firma{
    padding: 10px 30px 10px 30px;
    border-radius: 50px !important;
    border-color: #f26936 !important;
    color: #f26936 !important;
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    font-weight: 400 !important;
}
.boton-firma:hover{
    border-radius: 50px !important;
    border-color: #f26936 !important;
    color: #fff !important;
    background-color: #f26936 !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    font-weight: 400 !important;
}
.boton-white{
    padding: 10px 30px 10px 30px;
    border-radius: 50px !important;
    border-color: #fff !important;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    font-weight: 400 !important; 
}
.boton-white:hover{
    border-radius: 50px !important;
    border-color: #f26936 !important;
    color: #fff !important;
    background-color: #f26936 !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    font-weight: 400 !important;
}
.space{
    padding-top:30px; 
}
#firma .logo-firma{
    padding: 50px;
}
/*bloque1*/

.color1{
    background: #2f71a1;
    color: #fff;
    padding: 75px 60px 74px 60px;
    text-align: justify;
    height: 500px;
}
#tributario h2{
    text-align: center;
}
 .imagen {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px!important;
}
 .no-padding{
    padding: 0;
    margin: 0;
}

/* socios*/

#team-section {
    background: #fff;
    padding: 80px 0 50px 0;
}
.team-members {
    /* border: 1px solid #e6edee; */
    overflow: hidden;
    padding: 35px 0 0 0;
    background: #fff;
    transition-duration: 1s;
}
.team-member-details {
    padding: 15px;
    float: left;
    width: 100%;
    background: #ecf0f1;
}
.team-member-details h2{
    font-size: 1.1em;
    color: #444;
    font-family: 'Raleway', sans-serif;
}
.team-member-details a{
    text-decoration: none;

}
.team-member-socials a .team-member-icons {
    color: #adbdc1;
    margin-right: 13px;
}
.team-member-socials a:hover .team-member-icons {
    color: #f26936;
    margin-right: 13px;
}


/* CLIENTES*/
#clientes{
    background: #fff;
    padding: 80px 0;
}

 #clientes .imagen {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px!important;
}
#clientes .color-clientes{
    background: #2f71a1;
    color: #fff;
    height: 300px;
    padding: 80px 60px 84px 60px;
    text-align: justify;
}

.team-members {
    border: 1px solid #dedede !important;
}
.team-members:hover {
    box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.3);
}

.team-members {
    /* border: 1px solid #e6edee; */
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    transition-duration: 1s;
}
.team-member {
    /* border: 1px solid #e6edee; */
    padding-top: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    transition-duration: 1s;
}
/* BLOG*/
#blog{
    
    background: #f8f9f9;
    padding: 80px 0 80px 0;

}
.blog-item .blog-item-img {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.blog-item {
    background-color: white;
    margin-bottom: 30px;
}
.blog-item-description {
    padding: 0 20px 20px 20px;
}
.blog-item-description h3 {
    margin-top: 10px;
    font-size: 1em!important;
    font-weight: bold;
}
.blog-item-description p {
    font-size: 13px;
    margin-bottom: 20px;
}

.blog-panel {
    background-color: white;
    padding: 15px 35px;
    margin-bottom: 2px;
}
.do-blog-sidebar-widget h3.do-sidebar-widget-title {
    font-family: 'Releway',sans-serif;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.do-blog-sidebar-widget a{
    color: #2f71a1;
    text-decoration: none;
}
.do-blog-sidebar-widget a:hover, a:focus{
    color: #f26936;
    text-decoration: none;
}
.do-blog-sidebar-widget ul {
    list-style: none;
    padding-left: 0;
}
.do-blog-sidebar-widget ul li {
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
    line-height: 1;
    font-family: 'Releway',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #888;
}
.blog-post-date {
    display: inline-block;
    padding: 6px 10px;
    background-color: #fc7f0c;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.blog-post-date span.do-post-date {
    font-size: 15px;
    font-weight: 700;
}
.blog-post-date span {
    font-family: 'Releway',sans-serif;
    font-size: 8px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 4px;
}
.do-blog-sidebar-widget .do-tagcloud-wrapper a {
    font-family: 'Releway',sans-serif;
    font-size: 11px;
    color: silver;
    text-transform: uppercase;
    padding: 0px 12px 0px 20px;
    height: 34px;
    line-height: 30px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    margin-bottom: 5px;
    border: 2px solid #e9e9e9;
    background-color: transparent;
    letter-spacing: 8px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.do-blog-sidebar-widget ul li a:hover i {
    color: #f26936;
    border-color: #f26936;
}

.do-blog-sidebar-widget ul li a i {
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    color: #ccc;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
/* contactanos*/
.color-contact{
    background: #444;
    padding: 80px 60px 84px 60px;
    text-align: justify;
}
.contact h3{
    color: #fff;
    font-size: 1.1em;
}
.contact p{
    color: #fff;
}
.contact a{
    color: #f26936;
}
.contact a:hover{
    color: #f26936;
}
.contact  .imagen {
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position: center;
    height: 560px!important;
}
.contact .form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 10px 15px;
    font-size: 11px;
    color: #2c3e50;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* ///////////// Paginas internas ///////////////*/
/* //////////////////////////////////////////////*/


.inner-banner, .inner-banner img {
    width: 100%;

    position: relative;
}

 .inner-banner h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    text-align: center;
}
.body-int{
    padding: 50px 0 50px 0;
}
.conten-firma p{
    text-align: justify;
    font-size: 1.1em;
}
.conten-firma h3{
    margin-top: 0;
    font-size: 1.3em;
    color: #2f71a1;
}

.icon i{
    color: #2f71a1;
    float: left;
    padding: 10px;
}
.solution {
    padding-left: 60px;
    display: block;
    position: relative;
}
.solution h3:hover, .solution i:hover{
     color: #f26936;
}
.solution-text{
    margin-left: 80px;
    padding-bottom: 10px;
}

.tab-pane li{
    text-align: justify;
}
.nav-tabs > li > a{
    color: #2f71a1;
}



/*  vertical tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
 
  margin-top: 20px;
/* border:1px solid #ddd; 
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97); */
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #f26936!important;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #2f71a1;
  background-image: #2f71a1;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active .fa{
    color: #fff!important;
     }
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #2f71a1;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
footer {
    color: #fff;
    text-align: center;
    background-color: #000;
    padding: 30px;
}
footer p{
    font-size: 0.84em;
    padding-top: 20px;

}
footer a{
    color: #888;
    text-decoration: none;
}
footer a:hover{
    color: #888;
    text-decoration: none;
}









@media(min-width:768px) {
     .navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    /*.text-justify, .text-center {
        padding-left: 35px !important;
        padding-right: 35px !important;
    } 
    .text-justify {
        padding-left: 35px !important;
        padding-right: 35px !important;
    } 
    .navbar-nav > li > a {
        padding: 0 10px !important;
        line-height: 45px;
    } */ 
    .text_banner img {
        margin-top: 360px;
    }
    

    .text_banner img {
        margin-top: 360px;
    }

    button.navbar-toggle {
        margin: 22px 22px 0 0 !important;
    }
    .navbar-nav > li > a {
    color: #2f71a1;
    line-height: 18px;
    padding-top: 15px !important;
    padding-bottom: 15px!important;
    }

    
}

@media(max-width: 480px) {

    
    body{font-size: 1.2em;}
   
    .navbar-brand {
        width: 120px;
        margin: 8px;
    }
    .text_img .lema {
    font-size: 1.7em;  
    }
    .text_img .sublema {
    font-size: 1.15em;
    }
    .team-member-details h2 {
     font-size: 1.4em;  
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2f71a1;
    }
    .inner-banner, .inner-banner img {
    width: 100%;
    height: 200px;
    position: relative;
    }
    h2 {
    font-size: 1.3em;
    text-align: center;
    }
    #blog{
    margin-top: 50px;
    background: #f8f9f9;
    padding: 30px 0 84px 0;

}

}

@media (max-width: 991px) {
	.nav > li > a {
		padding-right: 12px;
		padding-left: 12px;
	}
   
}
